asgiref==3.8.1
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==8.1.8
Cython==3.0.11
Django==5.1.5
flexcache==0.3
flexparser==0.4
joblib==1.4.2
mathparse==0.1.2
nltk==3.9.1
Pint==0.24.4
platformdirs==4.3.6
pymongo==3.13.0
python-dateutil==2.7.5
PyYAML==3.13
regex==2024.11.6
six==1.17.0
SQLAlchemy==1.2.19
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.12.2